html {
  scroll-behavior: smooth;
}

body{
  background: #0f172a;
  color: #e5e7eb;
  font-family: Verdana;
}

h2{
  color: #e5e7eb;
  font-family: Verdana;
  text-align: center;
}

@keyframes leftRight{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-7deg);
  }
  75%{
    transform: rotate(7deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

#titleDiv{
  width: 590px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;

  h1{
    font-size: 50px;
    font-style: italic;
    font-family: Verdana;
    margin-bottom: 0px;
  }

  h3{
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
    opacity: 50%;
  }
}

#navBar{
  display: flex;
  margin-bottom: 60px;
  gap: 10px;
  justify-content: center;
  font-family: Verdana;

  button{
    background: #334155;
    border: none;
    color: #e5e7eb;
    font-size: 16px;
    margin: 7px;
    width: 100px;
    height: 55px;
    padding: 10px 16px;
    border-radius: 8px;

  }
  button:hover{
    background: #475569;
    cursor: pointer;
  }
}


#generalTips{
  padding: 20px;
  font-family: Verdana;
  font-size: 16px;
  color: #e5e7eb;
  margin: auto;
  max-width: fit-content;
  text-align: center;
  margin-bottom: 60px;

  background-color: #33415545;
  border-radius: 40px;

  ul{
    margin: auto;
  }

  li{
    padding-left: 12px;
    line-height: 2;
    text-align: left;
  }
}

#compactTierlistDiv{
  font-family: Verdana;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  max-width: fit-content;
  margin-bottom: 60px;

  td{
    text-align: center;
    display: table-cell;
    padding: 10px;

    transition: all 0.15s ease;
  }

  .drinkCell:hover{
    scale:1.2;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-name: leftRight;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    cursor: pointer;
  }
  

  .drinkCell img{
    max-width: 50px;
  }

  td.tier{
    font-size: 25px;
    color: black;
    min-width: 150px;
    max-width: 150px;
  }

  tr:nth-child(1) td:first-child{
    border-top-left-radius: 55px;
    background-color: rgb(201, 68, 65);
  }
  tr:nth-child(2) td:first-child{
    background-color: rgb(68, 114, 201);
  }
  tr:nth-child(3) td:first-child{
    background-color: rgb(204, 147, 41);
  }
  tr:nth-child(4) td:first-child{
    background-color: rgb(85, 133, 41);
  }
  tr:nth-child(5) td:first-child{
    background-color: rgb(114, 66, 33);
    border-bottom-left-radius: 55px;
  }
  

}

#drinkNotes{
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  
}

#testNotes{
  min-width: 1000px;
  max-width: 1000px;
  width: 1000px;
  margin: auto;
  /*border: 1px black solid;*/
}

.drinkNote{
  font-family: Verdana;
  background-color: #33415545;
  min-width: 405px;
  max-width: 405px;
  transition: scale 0.15s ease-in-out;
  font-size: 16px;
  padding: 20px;
  display:flex;
  align-items: stretch;
  border-radius: 40px;
  gap: 20px;
  margin-bottom: 20px;

  img{
    max-width: 100px;
  }

  .drinkData{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 1px solid blue;*/
    flex: 1;

    h3{
      /*border: 1px solid white;*/
      margin-top: 0;
      text-align: left;
    }
    
    p{
      /*border: 1px solid red;*/
      height: 40%;
    }
  }

}

.drinkNote:hover{
  /*border: 2px solid #9298a1;*/
  scale:1.05;
}